<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Burger Place</h1>
  <div class="col-6 offset-3">
    <form action="/burgers" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Name</label>
        <input class="form-control" type="text" id="title" name="burger[title]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="burger[location]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input class="form-control" type="text" id="image" name="burger[image]">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="burger[description]"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Burger Place</button>
      </div>
    </form>
    <a href="/burgers">All Burger Places</a>
  </div>
</div>